<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Invoice</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    </thead>
    <tbody>
    <tr><td>Seller:</td><td>Buyer:</td></tr>
    <tr><td th:text="${invoice.seller}"></td> <td th:text="${invoice.buyer}"></td></tr>
    <tr><td th:text="${invoice.sellerAddress}"></td> <td th:text="${invoice.buyerAddress}"></td></tr>
    <tr><td th:text="'GSTIN: '+${invoice.sellerGstin}"></td> <td th:text="'GSTIN: '+${invoice.buyerGstin}"></td></tr>
    </tbody>
</table>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${invoice.items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.rate}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
